agm-map {
  height: 900px;
}


img {
  max-height: 300px !important;
  max-width: 300px !important;
  margin-left: 8px;
  margin-bottom: 8px;
}
.mat-paginator {
  display: block;
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 100%;
}
